# Core Computer Vision
opencv-python
Pillow
numpy
scikit-image  # For fallback LBP spoofing

# Face Detection & Embedding
scikit-learn  # For cosine similarity matching

# Emotion Detection
deepface
tensorflow
tf-keras

# Deep Learning Anti-Spoofing (Silent Face)
torch
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
torchvision
easydict
tensorboardX
tqdm
